<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phòng trọ sinh viên</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>

<body>
    <header>
        <div style="background-color: white;" class="flex bordertop">
            <div class="container">
                <div class="header flex">
                    <div class="webicon">
                        <a href="index.html"><img style="width: 100%; height: 100%;" src="images/tro-sinh-vien2.png" /></a>
                    </div>
                    <div class="rightheader flex">
                        <div class="big-device flex">
                            <div><a class="btn header-btn" href="login.html"><i style="margin-right: 5px;"
                                        class="fa fa-sign-in"></i>Đăng nhập</a></div>
                            <div><a class="btn header-btn" href="register.html"><i style="margin-right: 5px;"
                                        class="fa fa-address-book"></i>Đăng ký</a></div>
                            <div><a class="btn header-btn" href="#"><i style="margin-right: 5px;"
                                        class="	fas fa-pen-alt"></i>Đăng tin</a></div>
                        </div>
                        <div class="small-device flex">
                            <div><a href="login.html" type="button" style="padding: 3px;" class="fa fa-sign-in"></a></div>
                            <div><a href="register.html" type="button" style="padding: 3px;" class="fa-solid fa-user-plus"></a></div>
                            <div><a href="#" type="button" style="padding: 3px;" class="fa-solid fa-plus"></a></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </header>
    <div class="toggle">
        <i class="fas fa-bars"></i>
    </div>
    <nav>
        <div>
            <div class="container">
                <ul class="menu flex">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a class="active" href="phongtro.html">Phòng trọ</a></li>
                    <li><a href="nguyencan.html">Nguyên căn</a></li>
                </ul>
            </div>
        </div>

    </nav>

    <div class="container">
        <section>
            <div style="margin-top: 10px;" class="content" id="detailtro">
                <div class="left border">
                    <div style="width: 90%; margin: 0 auto; ">
                        <h1 class="detail-title"><strong>PHÒNG ĐẸP VỪA XÂY MỚI LẠI, có gác lửng cao+ bếp, cửa sổ ánh
                                sáng trời</strong></h1>
                    </div>
                    <hr>
                    <div style="width: 90%; margin: 0 auto; font-size: 150%;">
                        <div class="">
                            <div class="price"><i class="fas fa-tag mr-5"></i>: 2.3 Triệu/tháng</div>
                            <div><i class="fas fa-expand mr-5"></i>: 25 m²</div>
                        </div>

                        <br>
                        <div><i class="fas fa-search-location"></i>: Tân Phú, Hồ Chí Minh <a href="#map">Xem bản đồ</a></div>
                    </div>
                    <hr>
                    <div style="width: 90%; margin: 0 auto;" class="image">
                        <div class="flex header">
                            <div class="main"><img class="border-image" style="width: 100%;" id="main"
                                    src="images/tro1/20230228143753-m5eui.jpg" /></div>


                            <div class="thump">
                                <div style="float: right;">
                                    <div><img class="border-image" style="width: 100%;" src="images/tro1/20230228143753-m5eui.jpg" /></div>
                                    <br>
                                    <div><img class="border-image" style="width: 100%;" src="images/tro1/20230228143808-hnzoo.jpg" /></div>
                                    <br>
                                    <div><img class="border-image" style="width: 100%;" src="images/tro1/20230228143808-jtxp1.jpg" /></div>
                                    <br>
                                    <div><img class="border-image" style="width: 100%;" src="images/tro1/20230228143809-felxg.jpg" /></div>
                                    <br>
                                    <div><img class="border-image" style="width: 100%;" src="images/tro1/20230228143809-lpyzc.jpg" /></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- 25 m² -->
                    <hr>
                    <div style="width: 90%; margin: 0 auto; font-size: 120%;">
                        <h3>Chi tiết mô tả :</h3>
                        <p>- CHO THUÊ PHÒNG TRỌ MỚI VỪA XÂY MỚI LẠI, CÓ GÁC LỬNG CAO+ KỆ BẾP+ CỬA SỔ THÔNG TRỜI RẤT
                            THOÁNG MÁT...... <br>
                            ------> Bạn đang tìm 1 căn trọ cửa sổ thoáng mát khí trời thì đây là lựa chọn cho bạn<br>
                            <br>
                            - VÍ TRÍ: Hẽm to xe hơi, ngay ngã tư bốn xã vào, thông ra các tuyến đường: Tô Hiệu, Lê Văn
                            Qưới, Thoại Ngọc Thầu, Hòa Bình,......gần Trường ĐH Hồng Bàng, Văn Hiến......<br>
                            -------------<br>
                            + Nhà mới xây lại đẹp như hình đăng,<br>
                            + Phòng có cửa sổ thông trời thoáng mát vô cùng, hoặc ban công riêng.<br>
                            + Phòng có: GÁC LỬNG CAO + KỆ BẾP NẤU ĂN+ CHẬU RỬA, WC riêng trong phòng, cửa sổ mát....<br>
                            + CÓ MÁY GIẶT MIỄN PHÍ, chổ phơi rộng rãi ngay sân phơi<br>
                            + Diện tích từ 25m2 - 30m2<br>
                            + Phòng luôn có gió lùa mát mẻ cả ngày, như 1 ngôi nhà riêng biệt<br>
                            + Giờ giấc tự do, về lúc nào cũng được.<br>
                            + KHÔNG THU PHÍ XE. Không chung chủ, Wifi free<br>
                            + Cửa nhà hiện đại 2 lớp mở bằng vân tay và cửa từ rất an toàn<br>
                            + Nhà xe có camera an ninh 24/24<br>
                            + Khu vực sát chợ, bách hóa xanh........đường vào hẽm to xe tãi vô thoải mái, khu dân
                            trí<br>
                            + Giá đang ưu đãi mạnh------> Nhanh chân nha các bạn<br>
                            ---------GIÁ--------><br>
                            + Phòng: 2.3 triệu<br>
                            + Phòng: 2.4tr - 2.6tr/tháng<br>
                            + Phòng: 2.8tr - 3.tr/tháng (CÓ BAN CÔNG RIÊNG)<br>
                            + Căn nhà nhỏ riêng biệt độc lập: 3.tr/tháng
                        </p>
                    </div>
                    <hr>
                    <div style="width: 90%; margin: 0 auto;" class="map" id="map">
                        <h3>Vị trí trên bản đồ</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.105122645846!2d106.70314731167839!3d10.803260158700091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b90de0190f%3A0x7b8be3f539221109!2zxJAuIELhuqFjaCDEkOG6sW5nLCBQaMaw4budbmcgMTUsIELDrG5oIFRo4bqhbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1692774975373!5m2!1sen!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <hr>
                    
                    <div class="comment-form">
                        <div class="comment-info detail-container">
                            <h3>Thêm bình luận</h3>
                            <p>Email của bạn sẽ không được hiển thị công khai. Các trường bắt buộc được đánh dấu *</p>
                            <form>
                                <table>
                                    <tr>
                                        <th><label for="name">Tên*</label></th>
                                        <td><input type="text" name="name" id="name"></td>
                                    </tr>

                                    <tr>
                                        <th><label for="name">Email*</label></th>
                                        <td><input type="email" name="email" id="email"></td>
                                    </tr>
                                    <tr>
                                        <th><label for="message">Nội dung</label></th>
                                        <td><textarea cols="50" rows="3" name="message" id="message"></textarea></td>
                                    </tr>
                                </table>

                                <p><button type="submit">Đăng</button></p>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="detail-container">
                        <h3>Bình luận</h3>
                        <div class="comments">
                            <div class="comment flex">
                                <div style="width: 10%">
                                    <img src="images/tro-1.jpg" width="100%" class="rounded-circle">
                                </div>
                                <div style="width: 80%; padding-left: 10px;">
                                    <div class="text-primary">Nguyễn Hoàng Đô</div>
                                    <div>Chỗ ở sạch sẽ</div>
                                </div>
                            </div>
                            <br>
                            <div class="comment flex">
                                <div style="width: 10%">
                                    <img src="images/Avatar/default-user.svg" width="100%" class="rounded-circle">
                                </div>
                                <div style="width: 80%; padding-left: 10px;">
                                    <div class="text-primary">Mr A</div>
                                    <div>Chỗ ở tiện nghi</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="right">
                    <div class="border bg-white">
                        <div style="width: 90%; align-items: center; padding-top: 10px; padding-left: 10px;">
                            <div style="justify-content: space-between;" class="flex">
                                <div style="width: 29%">
                                    <img src="images/Avatar/default-user.svg" width="100%" class="rounded-circle">
                                </div>
                                <div style="width: 69%; text-align: center; font-size: 150%;">Mr A</div>
                            </div>

                        </div>
                        <hr>
                        <div class="wrap-login-btn">
                            <a href="https://zalo.me/0965699811" style="color: blue; background-color: #f2f8fe;"
                                class="btn login-btn">
                                <i class="fab fa-facebook-messenger mr-5"></i>Nhắn zalo
                            </a>
                        </div>
                        <div class="wrap-login-btn">
                            <button style="font-size: 120%; background-color: #1266dd;" class="login-btn">
                                <i class="fas fa-phone mr-5"></i>0965699811
                            </button>
                        </div>
                    </div>


                    <br>
                    <div class="border bg-white">
                        <h3 class="subject">Tin mới đăng</h3>
                        <ul class="flex v-menu">
                            <li><a href="#">Top nhà trọ giá rẻ</a></li>
                            <li><a href="#">Những lưu ý khi thuê trọ</a></li>
                            <li><a href="#">Những nơi đáng sống trên thế giới</a></li>
                            <li><a href="#">Nên thuê nhà ở đâu</a></li>
                            <li><a href="#">Làm sao để nhà đẹp hơn</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </section>

    </div>
    <footer>
        <h3 style="text-align:center ;">Copyright 2023 &copy; IT</h3>
        <span class="moving">Muốn có một nơi ở tốt hãy đến với trang web trọ sinh viên của chúng tôi</span>
    </footer>
</body>

</html>