<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phòng trọ sinh viên</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
    <script src="js/loadData.js"></script>
</head>

<body data-spy="scroll" data-target=".nav" data-offset="1">
    <header>
        <div style="background-color: white;" class="flex bordertop">
            <div class="container">
                <div class="header flex">
                    <div class="webicon">
                        <a href="index.html"><img style="width: 100%; height: 100%;" src="images/tro-sinh-vien2.png" /></a>
                    </div>
                    <div class="rightheader flex">
                        <div class="big-device flex">
                            <div><a class="btn btn-primary"><img src="images/login.png" width="12" />Đăng nhập</a></div>
                            <div><img src="images/sign-in.png" width="12" alt="login" />Đăng ký</div>
                            <div><button>Đăng tin mới</button></div>
                        </div>
                        <div class="small-device flex">
                            <div><a href="login.html" type="button" style="padding: 3px;" class="fa fa-sign-in"></a></div>
                            <div><a href="register.html" type="button" style="padding: 3px;" class="fa-solid fa-user-plus"></a></div>
                            <div><a href="#" type="button" style="padding: 3px;" class="fa-solid fa-plus"></a></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </header>
    <div class="toggle">
        <i class="fas fa-bars"></i>
    </div>
    <nav>
        <div>
            <div class="container">
                <ul class="menu flex" id="menu">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a href="phongtro.html">Phòng trọ</a></li>
                    <li><a class="active" href="nguyencan.html">Nguyên căn</a></li>
                    <li><a href="matbang.html">Mặt bằng</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <section>
            <div style="margin-top: 10px;" class="content">
                <div class="left border">
                    <h3 class="subject">Nhà thuê nguyên căn</h3>
                    <div class="items" id="nguyencan">
                        <div class="item">
                            <div class="image"><img src="images/tro-1.jpg" style="width: 100%;" /></div>
                            <div class="info">
                                <div class="main-title"><a href="/detail.html">Phòng cho thuê rộng rãi thoải mái</a>
                                </div>
                                <div class="flex main-info">
                                    <div>2.8 triệu/tháng</div>
                                    <div>20m2</div>
                                    <div>Phường 11,Quận Gò Vấp, Hồ Chí Minh</div>
                                </div>
                                <div>Phòng mới xây, thoáng mát, sạch đẹp, tường ốp men cao, có bếp, nhà vệ sinh riêng
                                </div>
                                <div class="header">
                                    <div class="flex">
                                        <div style="margin-right: 10px;">
                                            <h4>Tên chủ nhà: </h4>
                                        </div>
                                        <div>
                                            <h4>Nguyễn Văn B</h4>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div style="margin-right: 10px;">
                                            <h4>Số điện thoại: </h4>
                                        </div>
                                        <div>
                                            <h4>123456789</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right border bg-white">
                    <h3 class="subject">Tin mới đăng</h3>
                    <ul class="flex v-menu">
                        <li><a href="#">Top nhà trọ giá rẻ</a></li>
                        <li><a href="#">Những lưu ý khi thuê trọ</a></li>
                        <li><a href="#">Những nơi đáng sống trên thế giới</a></li>
                        <li><a href="#">Nên thuê nhà ở đâu</a></li>
                        <li><a href="#">Làm sao để nhà đẹp hơn</a></li>
                    </ul>
                </div>
        </section>

    </div>
    <footer>
        <h3 style="text-align:center ;">Copyright 2023 &copy; IT</h3>
        <span class="moving">Muốn có một nơi ở tốt hãy đến với trang web trọ sinh viên của chúng tôi</span>
    </footer>
</body>

</html>