<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/index.js"></script>
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="wrap">
            <div class="left-pic flex">
                <img style="width: 100%; text-align: center;" src="/static/images/tro-sinh-vien2.png" />
            </div>

            <form class="right-form validate-form" th:action="@{/user/register}" method="post">
                <span class="form-title">
                    Đăng ký
                </span>

                <div class="wrap-input validate-input">
                    <input class="input" type="text" name="username" placeholder="Tên đăng nhập..." required>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input validate-input">
                    <input class="input" type="email" name="email" placeholder="Email" required>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input validate-input">
                    <input class="input" type="text" name="fullname" placeholder="Nhập họ tên" required>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input validate-input">
                    <input class="input" type="number" name="tel" placeholder="Số điện thoại" required>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input validate-input">
                    <input class="input" type="password" name="pass" placeholder="Password" required>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input validate-input">
                    <label for="role_id" class="form-label">Role</label>
                    <select class="form-control" required="required" data-val="true" id="role_id" name="role_id">
                        <option value="1">Tenant</option>
                        <option value="2">Landlord</option>
                    </select>
                </div>

                <div class="wrap-login-btn">
                    <button  class="login-btn">
                        Đăng ký
                    </button>
                </div>

                
            </form>




        </div>
    </div>
</body>

</html>